body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.nav-btn, .btn-primary {
  background: #FFD2A4;
  border-radius: 12px;
  line-height: 16px;
  color: #1C1D28;
  text-transform: uppercase;
}
.nav-btn:hover, .btn-primary:hover {
  transition: 0.24s linear;
  background: #F2C79B;
}

.nav-btn {
  /* Note: backdrop-filter has minimal browser support */
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  padding: 20px 48px;
}

.btn-primary {
  padding: 24px 64px;
}

.titles {
  text-align: center;
}
.titles p {
  margin-bottom: 16px;
  line-height: 18.75px;
  color: #161722;
  text-transform: uppercase;
}
.titles h2 {
  margin-bottom: 64px;
  color: #161722;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  line-height: 64px;
}

.header {
  background: #0D0D0D;
}
.header__container {
  padding: 24px 110px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__vertical-line {
  width: 80px;
  background: #fff;
  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
  opacity: 0.1;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 48px;
}
.header__nav-list li a {
  line-height: 18.75px;
  color: rgba(255, 255, 255, 0.903);
  text-transform: uppercase;
  opacity: 0.9;
}
.header__nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.main__home-header {
  padding-bottom: 128px;
  position: relative;
}
.main__home-header img {
  width: 100%;
}
.main__home-header-text-wrapper {
  color: #fff;
  padding-left: 110px;
  position: absolute;
  top: 128px;
  left: 0;
}
.main__home-header-text-wrapper p:first-child {
  font-weight: 700;
  line-height: 18.75px;
  text-transform: uppercase;
}
.main__home-header-text-wrapper h1 {
  max-width: 592px;
  margin-top: 16px;
  margin-bottom: 62px;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: -0.01em;
  font-weight: 700;
  text-transform: uppercase;
}
.main__home-header-text-wrapper p:last-child {
  width: 308px;
  line-height: 24px;
}
.main__home-header-link-wrapper {
  margin-bottom: 104px;
}
.main__what-we-do-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 128px;
}
.main__what-we-do-card-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}
.main__what-we-do-card-wrapper div {
  padding: 80px;
  background: #fff5eb;
}
.main__what-we-do-card-wrapper div img {
  padding: 12px;
  border-radius: 50%;
  background: #FFD2A4;
}
.main__what-we-do-card-wrapper div h4 {
  margin: 24px 0 8px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #161722;
  text-transform: uppercase;
}
.main__what-we-do-card-wrapper div p {
  color: #161722;
  line-height: 24px;
}
.main__welcome-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.main__welcome-desc {
  margin: -32px 0 90px 0px;
}
.main__welcome-desc p {
  margin: 0 auto;
  max-width: 846px;
  text-align: center;
  line-height: 24px;
  color: #161722;
}
.main__welcome-link-btn {
  text-align: center;
  margin-bottom: 25px;
}
.main__welcome-img-wrapper {
  padding-bottom: 64px;
  display: flex;
  gap: 24px;
}
.main__welcome-img img {
  border-radius: 30px;
}
.main__welcome-img:nth-child(2) {
  margin-top: 48px;
}
.main__welcome-bottom-wrapper {
  padding-bottom: 128px;
}
.main__welcome-bottom-titles h4 {
  font-size: 32px;
  margin-bottom: 16px;
  color: #161722;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  line-height: 44px;
}
.main__welcome-bottom-text p {
  margin: 0 auto 16px auto;
  text-align: center;
  width: 512px;
}
.main__welcome-bottom-link {
  text-align: center;
}
.main__welcome-bottom-link a {
  margin-right: 6px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 16px;
  color: #161722;
}
.main__benefits {
  background: #F5F2F0;
}
.main__benefits-wrapper {
  margin: 0 auto;
  padding: 128px 110px;
}
.main__benefits-img-wrapper {
  display: flex;
  gap: 24px;
}
.main__benefits-link {
  transition: all 0.3s linear;
}
.main__benefits-link:hover {
  transform: scale(1.04);
}
.main__benefits-img {
  position: relative;
}
.main__benefits-img img {
  filter: brightness(0.84);
}
.main__benefits-text-wrapper {
  position: absolute;
  bottom: 32px;
  left: 32px;
}
.main__benefits-text-wrapper h5 {
  max-width: 238px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  letter-spacing: -0.01em;
  color: #fff;
}
.main__benefits-text-wrapper p {
  margin-top: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.779);
}/*# sourceMappingURL=style.css.map */