$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;

$heading1: 64px;
$heading2: 48px;
$heading3: 40px;
$heading4: 32px;
$heading5: 24px;
$heading6: 16px;

$black: #161722;
$primary: #FFD2A4;
$lightorange: #fff5eb;
$grey: #f5f2f060;

$font700: 700;

body {
    font-family: $roboto-condensed;
    font-weight: 400;
    font-size: 16px;
}

.nav-btn, .btn-primary {
    background: $primary;

    border-radius: 12px;
    line-height: 16px;
    color: #1C1D28;
    text-transform: uppercase;
    transition: .24s linear;
    cursor: pointer;
    
    &:hover {
        background: #F2C79B;
    }
}

.nav-btn {
    /* Note: backdrop-filter has minimal browser support */
    backdrop-filter: blur(80px);
    padding: 20px 48px;
}

.btn-secondary {
    cursor: pointer;
    padding: 24px 64px;
    background: #161722;
    backdrop-filter: blur(80px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 12px;
    line-height: 16px;
    color: $primary;
    text-transform: uppercase;
    transition: .25s linear;
    &:hover {
        color: #fff;
    }
}
    

.btn-primary { 
    padding: 24px 64px;
}

.titles {
    text-align: center;
    & p {
        margin-bottom: 16px;
        line-height: 18.75px;
        color: $black;
        text-transform: uppercase;
    }

    & h2 {
        margin-bottom: 64px;
        color: $black;
        font-size: $heading2;
        font-weight: 700;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        line-height: 64px;
    }

    & h4 {
        margin-bottom: 16px;
        font-weight: 700;
        font-size: $heading4;
        line-height: 44px;
        letter-spacing: -0.01em;
        color: $black;
        text-align: left;
    }
}


.header {
    background: #0D0D0D;
    &__container {
        padding: 24px 110px;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__vertical-line {
        width: 80px;
        background: #fff;
        border: 1px solid #FFFFFF;
        transform: rotate(90deg);
        opacity: 0.1;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        gap: 48px;

        & li a {
            line-height: 18.75px;
            color: rgba(255, 255, 255, 0.903);
            text-transform: uppercase;
            opacity: 0.9;
        }
    }

    &__nav-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }
}



.main {
    &__home-header {
        padding-bottom: 128px;
        position: relative;

        & img {
            width: 100%;
        }
    }

    &__home-header-text-wrapper {
        color: #fff;
        padding-left: 110px;
        position: absolute;
        top: 128px;
        left: 0;

        & p:first-child {
            font-weight: 700;
            line-height: 18.75px;
            text-transform: uppercase;
        }

        & h1 {
            max-width: 592px;
            margin-top: 16px;
            margin-bottom: 62px;
            font-size: $heading1;
            line-height: 82px;
            letter-spacing: -0.01em;
            font-weight: 700;
            text-transform: uppercase;
        }

        & p:last-child {
            width: 308px;
            line-height: 24px;
        }
    }

    &__home-header-link-wrapper {
        margin-bottom: 104px;
    }



    &__what-we-do-wrapper {
        max-width: 1280px;
        margin: 0 auto;
        padding-bottom: 128px;
    }
        
    &__what-we-do-card-wrapper {
        display: flex;
        align-items: center;
        gap: 24px;

        & div {
            padding: 80px;
            background: $lightorange;
            border-bottom: 16px solid $primary;

            & img {
                padding: 12px;
                border-radius: 50%;
                background: $primary;
            }

            & h4 {
                margin: 24px 0 8px 0;
                font-weight: 700;
                font-size: $heading4;
                line-height: 44px;
                letter-spacing: -0.01em;
                color: $black;
                text-transform: uppercase;
            }

            & p {
                color: $black;
                line-height: 24px;
            }

        }
    }



    &__welcome-wrapper {
        max-width: 1024px;
        margin: 0 auto;
    }

    &__welcome-desc {
        margin: -32px 0 90px 0px;
        & p {
            margin: 0 auto;
            max-width: 846px;
            text-align: center;
            line-height: 24px;
            color: $black;
        }
    }

    &__welcome-link-btn {
        text-align: center;
        margin-bottom: 25px;
    }

    &__welcome-img-wrapper {
        padding-bottom: 64px;
        display: flex;
        gap: 24px;
    }

    &__welcome-img {
        & img {
            border-radius: 30px;
        }

        &:nth-child(2) {
            margin-top: 48px;
        }
    }

    &__welcome-bottom-wrapper {
        padding-bottom: 128px;
    }

    &__welcome-bottom-titles {
        & h4 {
            font-size: $heading4;
            margin-bottom: 16px;
            color: $black;
            font-weight: 700;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            line-height: 44px;
        }
    }

    &__welcome-bottom-text {
        & p {
            margin: 0 auto 16px auto;
            text-align: center;
            width: 512px;
        }
    }

    &__welcome-bottom-link {
        text-align: center;
        & a {
            margin-right: 6px;
            font-size: 14px;
            font-family: $roboto;
            line-height: 16px;
            color: $black;
        }
    }


    &__benefits {
        background: #F5F2F0;
        padding: 128px 0;
    }
    
    &__benefits-wrapper {
        max-width: 1380px;
        margin: 0 auto;
    }

    &__benefits-img-wrapper {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    &__benefits-link {
        transition: all .3s linear;
        &:hover {
            transform: scale(1.04);
        }
    }


    &__benefits-img {
        position: relative;

        & img {
            filter: brightness(0.84);
        }
    }

    &__benefits-text-wrapper { 
        position: absolute;
        bottom: 32px;
        left: 32px;

        & h5 {
            max-width: 238px;
            font-size: $heading5;
            font-weight: 700;
            line-height: 28.13px;
            letter-spacing: -0.01em;
            color: #fff;
        }

        & p {
            margin-top: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.779);
        }
    }

    
    &__sermons {
        padding: 128px 0;
    }

    &__sermons-wrapper {
        max-width: 1280px;
        margin: 0 auto;
    }

    &__sermons-titles {
        margin-bottom: 64px;
        & h2 {
            margin: 0 auto;
            width: 554px;
        }
    }
        
    &__sermons-item {
        display: flex;
    }
    
    &__sermons-content {
        background: $lightorange;
        padding: 61px 83px 33px;
        position: relative;
    }
    
    &__sermons-date {
        position: absolute;
        top: 32px;
        right: 32px;
        & h5 {
            font-size: $heading5;
            font-weight: 700;
            line-height: 28.13px;
            letter-spacing: -0.01em;
            color: $black;
        }

        & p {
            line-height: 18.75px;
            color: $black;
        }
    }
    
    &__sermons-title-desc {
        & p:first-child {
            margin-bottom: 16px;
            font-size: 12px;
            line-height: 14.06px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            background: linear-gradient(109.61deg, #A54E2B -53.83%, #DC9853 62.61%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        & h5 {
            margin-bottom: 16px;
            width: 210px;
            font-size: $heading5;
            font-weight: 700;
            line-height: 28.13px;
            letter-spacing: -0.01em;
            color: $black;
        }

        & p:last-child {
            margin-bottom: 34px;
            line-height: 24px;
            color: rgba(22, 23, 34, 0.781);
        }
    }
    
    &__sermons-time, &__sermons-location {
        display: flex;
        gap: 16px;
    }
    
    &__sermons-day, &__sermons-address {
        & p {
            line-height: 24px;
            color: $black;
            width: 137px;
        }
    }

    &__sermons-day {
        margin-bottom: 16px;
    }

    &__sermons-address {
        margin-bottom: 32px;
    }

    &__sermons-link {
        margin-top: 48px;
        text-align: right;
        & a {
            font-size: 24px;
            line-height: 32px;
            color: $black;
        }
    }



    &__cta {
        padding-bottom: 128px;
    }
    
    &__cta-background {
        position: relative;
    }
    
    &__cta-image {
        width: 100%;
        filter: brightness(0.91);
    }
    
    &__cta-inner {
        width: 768px;
        height: 480px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        backdrop-filter: blur(40px);
        border-bottom: 16px solid $primary;
    }
    
    &__cta-inner-wrapper {
        display: flex;
        align-items: center;
        gap: 117px;
        padding: 72px 48px;
    }
    
    &__cta-content {
        & h2 {
            font-weight: 700;
            font-size: $heading2;
            line-height: 64px;
            letter-spacing: -0.01em;
            color: $black;
            width: 368px;
            text-transform: uppercase;
        }

        & p {
            width: 302px;
            margin: 16px 0 32px 0;
            line-height: 24px;
            color: rgba(22, 23, 34, 0.781);
        }
    }

    
    &__blog {
        padding-bottom: 128px;
    }

    &__blog-wrapper {
        max-width: 1300px;
        margin: 0 auto;
    }

    &__blog-item-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    
    &__blog-item{
        padding: 48px 32px;
        background: $lightorange;
        
    }
    &__blog-item-content{
        & p:first-child {
            margin-bottom: 16px;
            font-size: 12px;
            line-height: 14.06px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            background: linear-gradient(109.61deg, #A54E2B -53.83%, #DC9853 62.61%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        & h5 {
            width: 218px;
            margin-bottom: 16px;
            color: $black;
            font-size: $heading5;
            font-weight: 700;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            line-height: 28.13px;
        }
    }

    &__blog-item-desc {
        margin-bottom: 48px;
        line-height: 24px;
        color: rgba(22, 23, 34, 0.781);
    }

    &__blog-item-name, &__blog-item-date {
        color: $black;
    }

    &__blog-item-name {
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 21.09px;
    }

    &__blog-item-date {
        line-height: 24px;
    }
}

.footer {
    background: $black;
    &__container{
        max-width: 1400px;
        margin: 0 auto;
        padding: 64px 0;
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__content-left-logo{
        & p {
            margin: 16px 0 32px 0;
            font-size: 12px;
            line-height: 14.06px;
            color: #fff;
            text-transform: uppercase;
        }
    }

    &__content-left-address {
        display: flex;
        flex-direction: column;
        & a {
            font-size: 12px;
            line-height: 14px;
            color: #fff;
            text-transform: uppercase;   
        }

        & a:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__links {
        & p {
            margin-bottom: 20px;
            line-height: 24px;
            color: #fff;
        }
    }

    &__links-list {
        & li:not(:last-child) {
            margin-bottom: 18px;
        }
    }
    
    &__list-link {
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.779);
    }

    &__connect{
        & p {
            margin-bottom: 20px;
            line-height: 24px;
            color: #fff;
        }
    }
        
    &__social-wrapper{
        display: flex;
        gap: 20px;
    }

    &__subscription{
        & h4 {
            margin-bottom: 32px;
            width: 377px;
            font-size: $heading4;
            line-height: -0.01em;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
        }

        & form {
            width: 512px;
            & input[type=email] {
                color: rgba(255, 255, 255, 0.8);
                width: 311px;
                padding: 24px 50px 24px 24px;
                background: transparent;
                border: 1px solid rgba(255, 255, 255, 0.15);
                border-radius: 12px;
                outline: none;
                &::placeholder {
                    color: rgba(255, 255, 255, 0.8);
                }
            }

            & button {
                margin-left: -50px;
            }
        }
    }
}



/* Main section in About.html */ 

.main-about {
    &__about-us {
        padding-bottom: 128px;
    }
    &__img {
        width: 100%;
        position: relative;
    }

    &__header {
        position: absolute;
        padding-left: 110px;
        top: 230px;
        & p {
            margin-bottom: 16px;
            line-height: 18.75px;
            font-weight: 700;
            color: $black;
            text-transform: uppercase;
        }

        & h2 {
            font-weight: 700;
            font-size: $heading2;
            line-height: 64px;
            letter-spacing: -0.01em;
            color: $black;
            text-transform: uppercase;
        }
    }
    


    &__welcome-wrapper {
        max-width: 1024px;
        margin: 0 auto;
    }

    &__welcome-titles {
        & h2 {
            margin-bottom: 32px;
        }
    }

    &__welcome-desc {
        text-align: center;
        & p {
            margin: 0 auto 48px auto;
            width: 768px;
            line-height: 24px;
            color: rgba(22, 23, 34, 0.784);
        }
    }

    &__welcome-img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding-bottom: 64px;
    }

    &__welcome-img {
        & img {
            border-radius: 32px;
            transition: .3s linear;
            &:hover {
                transform: scale(1.04);
            }
        }
    }
    
    &__welcome-bottom-content{
        padding-bottom: 128px;
    }

    &__welcome-bottom-content-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    &__welcome-bottom-left-content, &__welcome-bottom-right-content{
        & p:nth-child(1) {
            text-align: left;
        }

        & h4 {
            width: 371px;
        }

        & p:nth-child(2) {
            line-height: 24px;
            width: 372px;
            color: rgba(22, 23, 34, 0.779);
        }
    }



    &__benefits{
        padding-bottom: 128px;
    }
      
    &__benefits-wrapper{
        max-width: 1024px;
        margin: 0 auto;
    }
      
    &__benefits-titles{
        & h2 {
            margin: 0 auto 64px auto;
            width: 432px;
        }
    }
      
    &__benefits-section-wrapper{
        display: flex;
        flex-direction: column;
        gap: 96px;
    }
      
    &__benefits-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
      
    &__benefits-section-text{
        & h4 {
            margin-bottom: 16px;
            font-weight: 700;
            font-size: $heading4;
            line-height: 44px;
            text-transform: uppercase;
            letter-spacing: -0.01em;
            color: $black;
            text-align: left;
        }

        & p {
            line-height: 24px;
            color: rgba(22, 23, 34, 0.779);
        }
    }
}

