body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.nav-btn, .btn-primary {
  background: #FFD2A4;
  border-radius: 12px;
  line-height: 16px;
  color: #1C1D28;
  text-transform: uppercase;
  transition: 0.24s linear;
  cursor: pointer;
}
.nav-btn:hover, .btn-primary:hover {
  background: #F2C79B;
}

.nav-btn {
  /* Note: backdrop-filter has minimal browser support */
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  padding: 20px 48px;
}

.btn-secondary {
  cursor: pointer;
  padding: 24px 64px;
  background: #161722;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;
  line-height: 16px;
  color: #FFD2A4;
  text-transform: uppercase;
  transition: 0.25s linear;
}
.btn-secondary:hover {
  color: #fff;
}

.btn-primary {
  padding: 24px 64px;
}

.titles {
  text-align: center;
}
.titles p {
  margin-bottom: 16px;
  line-height: 18.75px;
  color: #161722;
  text-transform: uppercase;
}
.titles h2 {
  margin-bottom: 64px;
  color: #161722;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  line-height: 64px;
}

.header {
  background: #0D0D0D;
}
.header__container {
  padding: 24px 110px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__vertical-line {
  width: 80px;
  background: #fff;
  border: 1px solid #FFFFFF;
  transform: rotate(90deg);
  opacity: 0.1;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 48px;
}
.header__nav-list li a {
  line-height: 18.75px;
  color: rgba(255, 255, 255, 0.903);
  text-transform: uppercase;
  opacity: 0.9;
}
.header__nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.main__home-header {
  padding-bottom: 128px;
  position: relative;
}
.main__home-header img {
  width: 100%;
}
.main__home-header-text-wrapper {
  color: #fff;
  padding-left: 110px;
  position: absolute;
  top: 128px;
  left: 0;
}
.main__home-header-text-wrapper p:first-child {
  font-weight: 700;
  line-height: 18.75px;
  text-transform: uppercase;
}
.main__home-header-text-wrapper h1 {
  max-width: 592px;
  margin-top: 16px;
  margin-bottom: 62px;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: -0.01em;
  font-weight: 700;
  text-transform: uppercase;
}
.main__home-header-text-wrapper p:last-child {
  width: 308px;
  line-height: 24px;
}
.main__home-header-link-wrapper {
  margin-bottom: 104px;
}
.main__what-we-do-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 128px;
}
.main__what-we-do-card-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}
.main__what-we-do-card-wrapper div {
  padding: 80px;
  background: #fff5eb;
  border-bottom: 16px solid #FFD2A4;
}
.main__what-we-do-card-wrapper div img {
  padding: 12px;
  border-radius: 50%;
  background: #FFD2A4;
}
.main__what-we-do-card-wrapper div h4 {
  margin: 24px 0 8px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #161722;
  text-transform: uppercase;
}
.main__what-we-do-card-wrapper div p {
  color: #161722;
  line-height: 24px;
}
.main__welcome-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.main__welcome-desc {
  margin: -32px 0 90px 0px;
}
.main__welcome-desc p {
  margin: 0 auto;
  max-width: 846px;
  text-align: center;
  line-height: 24px;
  color: #161722;
}
.main__welcome-link-btn {
  text-align: center;
  margin-bottom: 25px;
}
.main__welcome-img-wrapper {
  padding-bottom: 64px;
  display: flex;
  gap: 24px;
}
.main__welcome-img img {
  border-radius: 30px;
}
.main__welcome-img:nth-child(2) {
  margin-top: 48px;
}
.main__welcome-bottom-wrapper {
  padding-bottom: 128px;
}
.main__welcome-bottom-titles h4 {
  font-size: 32px;
  margin-bottom: 16px;
  color: #161722;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  line-height: 44px;
}
.main__welcome-bottom-text p {
  margin: 0 auto 16px auto;
  text-align: center;
  width: 512px;
}
.main__welcome-bottom-link {
  text-align: center;
}
.main__welcome-bottom-link a {
  margin-right: 6px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 16px;
  color: #161722;
}
.main__benefits {
  background: #F5F2F0;
  padding: 128px 0;
}
.main__benefits-wrapper {
  max-width: 1380px;
  margin: 0 auto;
}
.main__benefits-img-wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.main__benefits-link {
  transition: all 0.3s linear;
}
.main__benefits-link:hover {
  transform: scale(1.04);
}
.main__benefits-img {
  position: relative;
}
.main__benefits-img img {
  filter: brightness(0.84);
}
.main__benefits-text-wrapper {
  position: absolute;
  bottom: 32px;
  left: 32px;
}
.main__benefits-text-wrapper h5 {
  max-width: 238px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  letter-spacing: -0.01em;
  color: #fff;
}
.main__benefits-text-wrapper p {
  margin-top: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.779);
}
.main__sermons {
  padding: 128px 0;
}
.main__sermons-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.main__sermons-titles {
  margin-bottom: 64px;
}
.main__sermons-titles h2 {
  margin: 0 auto;
  width: 554px;
}
.main__sermons-item {
  display: flex;
}
.main__sermons-content {
  background: #fff5eb;
  padding: 61px 83px 33px;
  position: relative;
}
.main__sermons-date {
  position: absolute;
  top: 32px;
  right: 32px;
}
.main__sermons-date h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  letter-spacing: -0.01em;
  color: #161722;
}
.main__sermons-date p {
  line-height: 18.75px;
  color: #161722;
}
.main__sermons-title-desc p:first-child {
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: linear-gradient(109.61deg, #A54E2B -53.83%, #DC9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__sermons-title-desc h5 {
  margin-bottom: 16px;
  width: 210px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  letter-spacing: -0.01em;
  color: #161722;
}
.main__sermons-title-desc p:last-child {
  margin-bottom: 34px;
  line-height: 24px;
  color: rgba(22, 23, 34, 0.781);
}
.main__sermons-time, .main__sermons-location {
  display: flex;
  gap: 16px;
}
.main__sermons-day p, .main__sermons-address p {
  line-height: 24px;
  color: #161722;
  width: 137px;
}
.main__sermons-day {
  margin-bottom: 16px;
}
.main__sermons-address {
  margin-bottom: 32px;
}
.main__sermons-link {
  margin-top: 48px;
  text-align: right;
}
.main__sermons-link a {
  font-size: 24px;
  line-height: 32px;
  color: #161722;
}
.main__cta {
  padding-bottom: 128px;
}
.main__cta-background {
  position: relative;
}
.main__cta-image {
  width: 100%;
  filter: brightness(0.91);
}
.main__cta-inner {
  width: 768px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-bottom: 16px solid #FFD2A4;
}
.main__cta-inner-wrapper {
  display: flex;
  align-items: center;
  gap: 117px;
  padding: 72px 48px;
}
.main__cta-content h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: #161722;
  width: 368px;
  text-transform: uppercase;
}
.main__cta-content p {
  width: 302px;
  margin: 16px 0 32px 0;
  line-height: 24px;
  color: rgba(22, 23, 34, 0.781);
}
.main__blog {
  padding-bottom: 128px;
}
.main__blog-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.main__blog-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.main__blog-item {
  padding: 48px 32px;
  background: #fff5eb;
}
.main__blog-item-content p:first-child {
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: linear-gradient(109.61deg, #A54E2B -53.83%, #DC9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__blog-item-content h5 {
  width: 218px;
  margin-bottom: 16px;
  color: #161722;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  line-height: 28.13px;
}
.main__blog-item-desc {
  margin-bottom: 48px;
  line-height: 24px;
  color: rgba(22, 23, 34, 0.781);
}
.main__blog-item-name, .main__blog-item-date {
  color: #161722;
}
.main__blog-item-name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 21.09px;
}
.main__blog-item-date {
  line-height: 24px;
}

.footer {
  background: #161722;
}
.footer__container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 64px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__content-left-logo p {
  margin: 16px 0 32px 0;
  font-size: 12px;
  line-height: 14.06px;
  color: #fff;
  text-transform: uppercase;
}
.footer__content-left-address {
  display: flex;
  flex-direction: column;
}
.footer__content-left-address a {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
}
.footer__content-left-address a:not(:last-child) {
  margin-bottom: 16px;
}
.footer__links p {
  margin-bottom: 20px;
  line-height: 24px;
  color: #fff;
}
.footer__links-list li:not(:last-child) {
  margin-bottom: 18px;
}
.footer__list-link {
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.779);
}
.footer__connect p {
  margin-bottom: 20px;
  line-height: 24px;
  color: #fff;
}
.footer__social-wrapper {
  display: flex;
  gap: 20px;
}
.footer__subscription h4 {
  margin-bottom: 32px;
  width: 377px;
  font-size: 32px;
  line-height: -0.01em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.footer__subscription form {
  width: 512px;
}
.footer__subscription form input[type=email] {
  color: rgba(255, 255, 255, 0.8);
  width: 311px;
  padding: 24px 50px 24px 24px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  outline: none;
}
.footer__subscription form input[type=email]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.footer__subscription form input[type=email]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.footer__subscription form input[type=email]::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.footer__subscription form button {
  margin-left: -50px;
}

/* Main section in About.html */
.main-about {
  padding-bottom: 128px;
}
.main-about__img {
  width: 100%;
  position: relative;
}
.main-about__header {
  position: absolute;
  padding-left: 110px;
  top: 230px;
}
.main-about__header p {
  margin-bottom: 16px;
  line-height: 18.75px;
  font-weight: 700;
  color: #161722;
  text-transform: uppercase;
}
.main-about__header h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: #161722;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */